.scope-auth-container {
  border: 1px solid red;
  height: 100%;
  padding: 1rem;
  // display: flex;
  // justify-content: center;

  .scope-auth {
    // width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content:flex-end;

    .category {
      display: inline-block;
      color: #fff;
      font-size: 0.55rem;
      padding: 0.4rem 0.6rem;
      border-radius: 15px;
      margin-bottom: 0.5rem;
      transition: all .4s;
    }
  
    .scope {
      background: rgb(138, 138, 138);

      &:hover {
        cursor: pointer;
      }
    }

    .active-scope {
      background: rgb(155, 131, 8);

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  
    .authority {
      background: rgb(138, 138, 138);

      &:hover {
        cursor: pointer;
      }
    }

    .active-authority {
      background: rgb(40, 8, 155);

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    .form-group {
      .required {
        color: red;
      }

      margin-bottom: 1rem;
      .label {
        display: block;
      }

      .form-input {
        display: block;
        width: 100%;
        padding: .3rem;
        outline: none;
      }
    }

    .form-group-btn {
      display: flex;
      justify-content: space-between;
    }
  }
}