.sidenav {
  background: rgb(233, 232, 232);
  width: 20%;
  height: 90vh;

  // to push app version down
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidenav-list {
    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;

    .li {
      // prevent weird effect on hover
      border-left: 4px solid transparent;
      // top right bottom left
      padding: 1rem 0rem 1rem 2rem;
      transition: all .8s;

      &:hover {
        border-left: 4px solid var(--purple-color);
        cursor: pointer;
        background: rgb(208, 208, 208);
      }
    }

    .active {
      border-left: 4px solid var(--purple-color);
      background: rgb(208, 208, 208);
    }
  }

  .version {
    padding: 1rem;
    margin-bottom: 1rem;
    color: grey;
    font-size: .8rem;
  }
}