.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  border-bottom: 3px solid #D2D2D2;
}

.navbar .container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  align-items: center;
}

.navbar .logo {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.8rem;
}

.navbar .primary-links {
  display: flex;
  margin-right: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  height: 100%;
}

.navbar .primary-links .li,
.navbar .secondary-links .li {
  padding: 1.8rem;
  border-bottom: 4px solid transparent;
}

.navbar .primary-links .active,
.navbar .secondary-links .active {
  border-bottom: 4px solid var(--purple-color);
}

.navbar .primary-links .li:hover,
.navbar .secondary-links .li:hover {
  border-bottom: 4px solid var(--purple-color);
  cursor: pointer;
}

.navbar .secondary-links {
  display: flex;
  justify-self: end;
  margin-right: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  height: 100%;
}