.default-card {
  background: #ffffff;
  color: #000;
  border: .5px solid #cccbcb;
  border-top: 3px solid #cccbcb;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .default-card-top-and-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .default-card-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: #200A58;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .icon {
        color: rgb(174, 174, 174);
        transition: .5s all;
        margin-top: -.8rem;

        &:hover {
          cursor: pointer;
          color: var(--purple-color);
        }
      }
    }

    .desc {
      margin: 2rem 0;
    }

    .botton-icon {
      display: flex;
      justify-content: space-around;
      transition: .5s all;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: rgb(174, 174, 174);
    }
  }
}

