:root {
  --white-color: #ffffff;
  --primary-color: #E11937;
  --secondary-color: #f99500;
  --light-color: #F8F8F8;
  --purple-color: #5236AB;
  --dark-color: #333;
  --max-width: 1650px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: var(--white-color);
  overflow-y: scroll;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.content {
  margin-top: 2rem;
}

.inner-container {
  max-width: 1450px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.heading {
  font-size: 2rem;
  color: #200A58;
  margin-bottom: 2rem;
}